* {
    box-sizing: border-box;
}
/*this overides padding default*/

body {
    font-size: 62.5%;
    font-family: 'Contrail One', cursive;
}
/*this scales fonts when zoom is altered in OS*/

nav {
    background-color: #DCDCDC;
    height: 80px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    position: fixed;
    width: 100%;
    opacity: 0.5;
}
.menu {
}
.menu .buttons {
    float: left;
    border-style: solid;
    font-size: 1rem;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    color: cadetblue;
    transition: background-color 1.0s ease, color 0.3s ease;
}
.menu .buttons:hover {
    background-color: white;
    color: black;
}
.image-container {
    width: 100%;
    background-image: url("../images/after-the-storm-1460825.jpg");
    background-size: cover;
    height: 600px;
    overflow: auto;
}
.image-title {
    text-align: center;
    margin-top: 250px;
}
.title-style {
    font-weight: bold;
    color: white;
    font-size: 5rem;
}
.title-style2 {
    font-weight: bold;
    color: white;
    font-size: 2rem;
}
.section1 {
    background-color: cadetblue;
    height: 3px0px;
    text-align: center;
    padding-top: 20px;
}
.section1-title {
    color: white;
}
.section2 {
    height: 500px;
    text-align: center;
    font-size: 3rem;
    padding: 30px;
}
.bio-container {
    height: 320px;
    width: 900px;
    border-radius: 20px;
    border-color: grey;
    border-style: solid;
    /*margin: 0 auto;*/
    display: inline-block;
    font-size: 1rem;
    padding: 20px;
    line-height: 2rem;
    margin-top: 30px;
}
.portfolio {
    overflow: auto;
}
.portfolio .projects {
    width: 33.3%;
    float: left;
    height: 300px;
}
#project1 {
    background-size: cover;
    background-image: url("../images/photo-1519893578517-3252b77e8fdf.jpeg")
}
#project2 {
    background-size: cover;
    background-image: url("../images/photo-1482941059634-6bf5a670d7bf.jpeg")
}
#project3 {
    background-size: cover;
    background-image: url("../images/photo-1526374870839-e155464bb9b2.jpeg")
}
.footer {
    background-color: #DCDCDC;
    height: 100px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}